<h3>View Employee Details</h3>
<div>
    <div>
        <label><b>Name : </b></label>{{employee.name}}
    </div>
    <div>
        <label><b>Email : </b></label>{{employee.email}}
    </div>
    <div>
        <label><b>Number : </b></label>{{employee.number}}
    </div>
    <div>
        <label><b>gender : </b></label>{{employee.gender}}
    </div>
    <div>
        <label><b>Country : </b></label>{{employee.country}}
    </div>
    <div>
        <label><b>Date of Birth : </b></label>{{employee.dob}}
    </div>
    <div>
        <label><b>Image :</b></label>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Employee Image" width="300" height="300">
<div *ngIf="errorMessage !== ''" class="error-message">{{ errorMessage }}</div>
    </div>
    <div>
        <label>File:</label>
        <button (click)="downloadFile(id)">Download File</button>
        <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
</div>
